.titulo {
    font-size: x-large;
    margin-right: 20px;
}

.container {
    border: 1px solid rgb(0, 0, 0);
    width: 50%;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10%;
}

#imgUser {
    border-radius: 50%;
    width: 60px;
}

#boto {
    background-color: rgb(0, 0, 0);
}